# 忽略数据文件
*.hdf5
*.h5
*.dat
*.out

# 忽略编译生成的可执行文件和对象文件
*.ex
*.o
*.mod

# 忽略 Python 缓存
__pycache__/
.ipynb_checkpoints/


#设置白名单
!Task_07/data/*.txt
!Task_07/data/*.hdf5
!Task_08/bin/*.ex
!Task_08/config/Make.defs.local
